@use '../custom' as *;
.tittle{
	height:26rem;
	background-color:$primary;
	&__pic1{
	height:150px;
	position:absolute;
	left:2px;
	top:4800px;
	}
	&__pic2{
	height:150px;
	position:absolute;
	right:2px;
	top:4400px;
	}
	.text{
	font-size:3rem;
	}
	input{
	width:100px;
	}
}